   
    <form>
        <h1>Test</h1>
        <label for="firstName">First Name</label>
        <input type="text" nbInput fullWidth status="primary" placeholder="First Name">

        <label for="firstName">last Name</label>
        <input type="text" nbInput fullWidth status="primary" placeholder="Last Name">

        <label for="firstName">Email</label>
        <input type="text" nbInput fullWidth status="primary" placeholder="Email">

        <label for="firstName">Address</label>
        <input type="text" nbInput fullWidth status="primary" placeholder="Address">

    </form>

